<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h5 (click)="back()" ><fa name="arrow-left"></fa> Itens a fazer</h5> 
            </div>
            <div class="col-4">
                <div style="float: right;">
                    <button type="button" class="btn btn-outline-dark" [routerLink]="['./new']"  ><fa name="plus"></fa> Adicionar</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-6">Nome</th>
                    <th class="col-2">Feito</th>
                    <th class="col-4">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection">
                    <td>{{item.name}}</td>
                    <td class="tdSwitch">
                        <div class="custom-control custom-checkbox">
                            <input 
                                type="checkbox" 
                                class="custom-control-input" 
                                id="defaultUnchecked{{item.id}}"
                                [checked]="item.done"
                                (click)="handleDone($event, item)"
                            >
                            <label class="custom-control-label" for="defaultUnchecked{{item.id}}"></label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-dark" [routerLink]="['./', item.id, 'edit']" routerLinkActive="router-link-active"  ><fa name="pencil"></fa> Editar</button>
                            <button type="button" class="btn btn-outline-dark" (click)="handleDelete(item)"><fa name="trash"></fa> Deletar</button>
                        </div> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>