 <table class="table table-striped">
    <thead>
        <tr>
            <th class="col-8">Nome</th>
            <th class="col-4">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collection">
            <td>{{item.name}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark" [routerLink]="['./', item.id, 'edit']" routerLinkActive="router-link-active"  ><fa name="pencil"></fa> Editar</button>
                    <button type="button" class="btn btn-outline-dark" (click)="delete(item)"><fa name="trash"></fa> Deletar</button>
                    <button type="button" class="btn btn-outline-dark" [routerLink]="['./',item.id, nextLevel]" routerLinkActive="router-link-active" ><fa name="file"></fa> Detalhes</button>
                </div> 
            </td>
        </tr>
    </tbody>
</table>