<div class="card">
    <div class="card-header">
        <h4>Categoria</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="formCategory" (ngSubmit)="handlerSubmit()" >
            <div class="form-row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" #nome formControlName="name">
                        <app-form-control-message [abstractControl]="formCategory.controls.name"></app-form-control-message>
                      </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <div style="padding-top: 32px;">
                            <button type="submit" class="btn btn-outline-dark"><fa name="plus"></fa> Salvar</button>
                       </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



