<div class="card">
    <div class="card-header">
        <h4>Item a fazer</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="formItem" (ngSubmit)="handlerSubmit()" >
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" #nome formControlName="name">
                        <app-form-control-message [abstractControl]="formItem.controls.name"></app-form-control-message>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group checkBoxCustom">
                        <input 
                            type="checkbox" 
                            class="custom-control-input" 
                            id="defaultUnchecked"
                            [checked]="item.done"
                            formControlName="done"
                        >
                        <label class="custom-control-label" for="defaultUnchecked"> Feito?</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div style="padding-top: 32px;">
                            <button type="submit" class="btn btn-outline-dark"><fa name="plus"></fa> Adicionar</button>
                       </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



