<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h5>Categorias</h5> 
            </div>
            <div class="col-4">
                <div style="float: right;">
                    <button type="button" class="btn btn-outline-dark" [routerLink]="['./new']"  ><fa name="plus"></fa> Adicionar</button>
               </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <app-tables 
            [collection]="collection" 
            nextLevel="lists"
            (toDelete)="handleDelete($event)"
        ></app-tables>
    </div>
</div>


