<img class="logo" src="./../assets/alelo-logo.png" >
<div class="card" style="width: 80%; margin: 0 auto;">
    <div class="card-header">
        <app-header></app-header>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>



