<div class="invalid-feedback" *ngIf="(abstractControl.touched || abstractControl.dirty) && abstractControl.errors">
  <ng-container *ngIf="abstractControl.errors.required">Por favor, informe esse campo.</ng-container>
  <ng-container *ngIf="abstractControl.errors.email">Por favor, informe o e-mail no formato: seunome@exemplo.com</ng-container>
  <ng-container *ngIf="abstractControl.errors.minlength">Por favor, informe no mínimo {{abstractControl.errors.minlength.requiredLength}} caracteres.</ng-container>
  <ng-container *ngIf="abstractControl.errors.maxlength">Por favor, informe no máximo {{abstractControl.errors.maxlength.requiredLength}} caracteres.</ng-container>
  <ng-container *ngIf="abstractControl.errors.pattern">Por favor, informe esse campo no formato correto.</ng-container>
</div>
